@model UsuarioModel

@{
    Layout = "_Layout_externo";  // Hace uso del layout externo
}

<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="row w-100 m-0">
            <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
                <div class="card col-lg-4 mx-auto">
                    <div class="card-body px-5 py-5">
                        <h3 class="card-title text-left mb-3">Register</h3>
                        <!-- Formulario con validación -->
                        <form id="FormRegistro" asp-action="Registro" asp-controller="Home">
                            <div class="form-group">
                                <label for="Nombre">Nombre</label>
                                <input type="text" id="Nombre" class="form-control p_input" asp-for="Nombre" placeholder="Introduce tu nombre">
                            </div>
                            <div class="form-group">
                                <label for="Identificacion">Identificación</label>
                                <input type="text" id="Identificacion" class="form-control p_input" asp-for="Identificacion" placeholder="Introduce tu número de identificación" onkeyup="ConsultarNombre()">
                            </div>
                            <div class="form-group">
                                <label for="CorreoElectronico">Email</label>
                                <input type="text" id="CorreoElectronico" class="form-control p_input" asp-for="CorreoElectronico" placeholder="Introduce tu correo electrónico">
                            </div>
                            <div class="form-group">
                                <label for="Contrasenna">Password</label>
                                <input type="password" id="Contrasenna" class="form-control p_input" asp-for="Contrasenna" placeholder="Introduce tu contraseña">
                            </div>

                            <div class="text-center">
                                <button type="submit" class="btn btn-primary btn-block enter-btn">Sign Up</button>
                            </div>
                            <p class="sign-up">Already have an Account? <a asp-action="Index" asp-controller="Home">Login</a></p>
                        </form>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- row ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<script src="~/js/Registro.js " asp-append-version="true"></script>