<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Corona Admin</title>

    <!-- Enlaces a los archivos CSS -->
    <link rel="stylesheet" href="/css/lib/materialdesignicons.min.css">
    <link rel="stylesheet" href="/css/lib/vendor.bundle.base.css">
    <link rel="stylesheet" href="/css/lib/style.css">
    <link rel="shortcut icon" href="/css/lib/favicon.png" />
</head>
<body>

    @RenderBody()

    <!-- Cargar jQuery primero -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" asp-append-version="true"></script>

    <!-- Cargar jQuery Validation después de jQuery -->
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js" asp-append-version="true"></script>

    <!-- Cargar tu archivo JS personalizado -->
    <script src="~/js/Registro.js" asp-append-version="true"></script>

    <!-- Archivos JS -->
    <script src="/js/vendor.bundle.base.js"></script>
    <script src="/js/off-canvas.js"></script>
    <script src="/js/hoverable-collapse.js"></script>
    <script src="/js/misc.js"></script>
    <script src="/js/settings.js"></script>
    <script src="/js/todolist.js"></script>

</body>
</html>
